<% include header %>
    <h1> Henkilön tietojen muokkaus </h1>
    <!-- form for adding a person -->
    <form>
        <label for="etunimi">Etunimi:</label>
        <input id="firstName" name="etunimi" value="<%= person[0].firstName %>"> <br>

        <label for="sukunimi">Sukunimi:</label>
        <input id="lastName" name="sukunimi" value="<%= person[0].lastName %>"> <br>

        <label for="">Sähköposti:</label>
        <input id="email" name="sahkoposti" value="<%= person[0].email %>"> <br>

        <label for="henkilotunnus">Henkilötunnus:</label>
        <input id="identityNumber" name="henkilotunnus" value="<%= person[0].identityNumber %>"> <br>

        <label for="syntymaaika">Syntymäaika:</label>
        <input id="birthDate" name="syntymaaika" value="<%= person[0].birthDate %>"> (muodossa pp.kk.vvvv)<br>

        <input id="<%= person[0]._id %>" class="btn btn-success" onclick="personEdit(this.id)" value="Tallenna henkilö">
    </form>
    <a class="btn btn-default" href="/people">Takaisin henkilölistaukseen</a>
<!-- close html from header -->
</html>